doctype html
html
  head
    title='Kolbe Admin'

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Qué comer en Playas de Tijuana? Encuentra las mejores restaurantes (comida), bares (bebida) y cafés de Playas de Tijuana')
    meta(name='keywords', content='Directorio Playas Tijuana, Restaurantes Playas Tijuana, Bares Playas Tijuana, Comida Playas Tijuana, Bares Playas Tijuana')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='/images/favicon.ico' rel='shortcut icon' type='image/png')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
    link(href='/css/screen.min.css' rel='stylesheet' type='text/css')

    meta(property='og:url', content='http://www.playami.com/')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Restaurantes, Bares y Cafés en Playas de Tijuana')
    meta(property='og:description', content='Qué comer en Playas de Tijuana? Encuentra las mejores restaurantes (comida), bares (bebida) y cafés de Playas de Tijuana')
    meta(property='og:image', content='http://www.playami.com/images/logo-playami.png')
  body
    #app!= content

    script(src='https://code.jquery.com/jquery-2.2.2.min.js', integrity='sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', defer)
    script(src='/js/app.min.js', defer)
    script
      | window.data = !{JSON.stringify(props)};
