@import '../../../../theme/constants';
.header{
  background: $black2;
  margin-bottom: 30px;
  h1{
    font-size: 30px;
    color: $white;
    &::before{
      content: "";
      background-image: url('/images/logo-playami.png');
      display: inline-block;
      width: 37px;
      height: 43px;
      vertical-align: middle;
      margin-right: 15px;
    }
  }
}

@media#{$isTablet}{
  .header{
    h1{
      font-size: 25px;
    }
  }
}
@media#{$isPhone}{
  .header{
    h1{
      font-size: 18px;

      &:before {
        position: absolute;
      }

      a {
        display: inline-block;
        margin-left: 50px;
      }
    }
  }
}
