@font-face {
  font-family: 'opensans_regular'; /* replace with: font-family-name */
  src: url('../fonts/font-a/regular.ttf');
}
@font-face {
  font-family: 'opensans_bold';
  src: url('../fonts/font-a/bold.ttf');
}

a{
  color: inherit;
}
a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}

*:focus {outline:0px none transparent;}

.container-fluid{
	max-width: 1024px;
  position: relative;
}
.row{
  position: relative;
}


#app{
	overflow: hidden;
}
