@import '../../../../theme/constants';

.creatorToolContainer {
  position: absolute;
  background: $white;
  border-radius: 5px;
  top: 8px;
  right: 8px;
  padding: 4px 4px 0 0;

  .creatorTool {
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 8px
  }

  // **************************************
  // ***** ICONS http://cssicon.space *****
  // **************************************
  .deleteIcon {
    color: $black;
    position: absolute;
    margin-left: 5px;
    margin-top: 7px;
    width: 9px;
    height: 10px;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
    border-radius: 0 0 2px 2px;
    background-color: currentColor;
  }

  .deleteIcon:before {
    content: '';
    position: absolute;
    left: -4px;
    top: -2px;
    width: 15px;
    height: 1px;
    background-color: currentColor;
  }

  .deleteIcon:after {
    content: '';
    position: absolute;
    left: -1px;
    top: -4px;
    width: 9px;
    height: 2px;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
    border-top: solid 1px currentColor;
    background-color: currentColor;
    border-radius: 4px 4px 0 0;
  }

  .editIcon {
    color: $black;
    position: absolute;
    margin-left: 4px;
    margin-top: 7px;
    width: 14px;
    height: 4px;
    border-radius: 1px;
    border: solid 1px currentColor;
    background-color: currentColor;
    @include rotate(-45);
  }

  .editIcon:before {
    content: '';
    position: absolute;
    left: -12px;
    top: -1px;
    width: 0px;
    height: 0px;
    border-left: solid 5px transparent;
    border-right: solid 5px currentColor;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
  }
}

// **************************************
// ********** Component style ***********
// **************************************

.comicContainer {
  background: $background;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.panel{
  background: $white;
  border: 1px solid black;
  color: black;
  min-width: 100px;
  min-height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  @include translate(-50%, -50%);
}

.panelNavTools{
  width: 100%;
  height: 100%;

  .arrow {
    border-width: 10px;
    position: absolute;
    border-style: solid;
    border-color: transparent;
    width: 0;
    height: 0;
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }

  .newPanel {
    border: 1px solid $white;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    color: $white;
    position: absolute;

    &:hover {
      background: $black;
    }

    &:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      top: 8px;
      left: 4px;
      background-color: $white;
    }

    &:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 10px;
      top: 4px;
      left: 8px;
      background-color: $white;
    }
  }

  .posTop {
    top: -30px;
    left: 50%;
    @include translate(-50%, 0);
  }

  .posBottom {
    bottom: -30px;
    left: 50%;
    @include translate(-50%, 0);
  }

  .posLeft {
    left: -30px;
    top: 50%;
    @include translate(0, -50%);
  }

  .posRight {
    right: -30px;
    top: 50%;
    @include translate(0, -50%);
  }

  .arrowTop {
    @extend .arrow;
    border-bottom-color: white;
    @extend .posTop;
  }

  .arrowBottom {
    @extend .arrow;
    border-top-color: white;
    @extend .posBottom;
  }

  .arrowLeft {
    @extend .arrow;
    border-right-color: white;
    @extend .posLeft;
  }

  .arrowRight {
    @extend .arrow;
    border-left-color: white;
    @extend .posRight;
  }

  .newPanelTop {
    @extend .newPanel;
    @extend .posTop;
  }

  .newPanelBottom {
    @extend .newPanel;
    @extend .posBottom;
  }

  .newPanelLeft {
    @extend .newPanel;
    @extend .posLeft;
  }

  .newPanelRight {
    @extend .newPanel;
    @extend .posRight;
  }
}
