// **************************************
// ************* MIXINS *****************
// **************************************

// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}

.creatorToolContainer {
  position: absolute;
  top: 8px;
  right: 8px;

  .creatorTool {
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 8px
  }

  // **************************************
  // ***** ICONS http://cssicon.space *****
  // **************************************
  .deleteIcon {
    color: #000;
    position: absolute;
    margin-left: 5px;
    margin-top: 7px;
    width: 9px;
    height: 10px;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
    border-radius: 0 0 2px 2px;
    background-color: currentColor;
  }

  .deleteIcon:before {
    content: '';
    position: absolute;
    left: -4px;
    top: -2px;
    width: 17px;
    height: 1px;
    background-color: currentColor;
  }

  .deleteIcon:after {
    content: '';
    position: absolute;
    left: 0px;
    top: -5px;
    width: 7px;
    height: 2px;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
    border-top: solid 1px currentColor;
    background-color: currentColor;
    border-radius: 4px 4px 0 0;
  }

  .editIcon {
    color: #000;
    position: absolute;
    margin-left: 4px;
    margin-top: 7px;
    width: 14px;
    height: 4px;
    border-radius: 1px;
    border: solid 1px currentColor;
    background-color: currentColor;
    @include rotate(-45);
  }

  .editIcon:before {
    content: '';
    position: absolute;
    left: -12px;
    top: -1px;
    width: 0px;
    height: 0px;
    border-left: solid 5px transparent;
    border-right: solid 5px currentColor;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
  }
}

// **************************************
// ********** Component style ***********
// **************************************

.comicContainer {
  background: #696969;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.panel{
  background: white;
  border: 1px solid black;
  color: black;
  min-width: 100px;
  min-height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  @include translate(-50%, -50%);
}

.panelNavTools{
  width: 100%;
  height: 100%;
  .arrow {
    border-width: 10px;
    position: absolute;
    border-style: solid;
    border-color: transparent;
    width: 0;
    height: 0;
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }

  .arrowTop {
    @extend .arrow;
    border-bottom-color: white;
    top: -30px;
    left: 50%;
    @include translate(-50%, 0);
  }

  .arrowBottom {
    @extend .arrow;
    border-top-color: white;
    bottom: -30px;
    left: 50%;
    @include translate(-50%, 0);
  }

  .arrowLeft {
    @extend .arrow;
    border-right-color: white;
    left: -30px;
    top: 50%;
    @include translate(0, -50%);
  }

  .arrowRight {
    @extend .arrow;
    border-left-color: white;
    right: -30px;
    top: 50%;
    @include translate(0, -50%);
  }
}
