@import '../../../theme/constants';

.arrow {
  border-width: 10px;
  position: absolute;
  border-style: solid;
  border-color: transparent;
  width: 0;
  height: 0;
  opacity: .8;

  &:hover {
    opacity: 1;
  }

  &.posTop {
    border-bottom-color: $white;
  }

  &.posBottom {
    border-top-color: $white;
  }

  &.posLeft {
    border-right-color: $white;
  }

  &.posRight {
    border-left-color: $white;
  }
}

.newPanel {
  border: 1px solid $white;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  color: $white;
  opacity: .8;
  position: absolute;

  &:hover {
    opacity: 1;
  }

  &:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    top: 8px;
    left: 4px;
    background-color: $white;
  }

  &:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px;
    background-color: $white;
  }
}

.posTop {
  top: -30px;
  left: 50%;
  @include translate(-50%, 0);
}

.posBottom {
  bottom: -30px;
  left: 50%;
  @include translate(-50%, 0);
}

.posLeft {
  left: -30px;
  top: 50%;
  @include translate(0, -50%);
}

.posRight {
  right: -30px;
  top: 50%;
  @include translate(0, -50%);
}

.navError {
  display: none;
}
