@import './helpers';
@import './mixins';
@import './sprite';

// --- Legacy colors
$darkBlue: #1D3A4C;
$tealGray: #839DAA;

$mediumGray: #999B9D;


// --- New colors
$teal: #0e888e;
$tealHover: #18a0a0;
$green: #66d3b4;
$lightGreen: #8cf2d3;
$gray: #e0dccd;
$gray2: #f5f6f6;
$darkGray: #999182;
$yellow: #ffc200;
$orange: #f45f2e;
$brown: #892e19;
$blue:#126ab2;
$pumpkin: #f28c30;
$lightBlue: #3b9de0;
$purple: #a83f92;
$pink: #d33c60;
$lemon: #bfc936;
$pine: #5bb222;
$mint: #012a33;
$black2: #363c48;
$black: #000;
$white: #fff;

$fontA: 'Open Sans';
$fontABold: 'opensans_bold';
$fontB: 'opensans_regular';
$fontBBold: 'opensans_bold';



$isTablet: "only screen and (max-width: 1023px)";
$isPhone: "only screen and (max-width: 767px)";

body {
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background: $gray2;
}
