@import './mixins';
// **************** CENTERS ************************************
.fCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translateX(-50%) translateY(-50%));
}
.vCenter{
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}
.vCenterRel{
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}
.hCenter{
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}
.inheritHeight{
  height: inherit;
}
.hideOverflow{
  overflow: hidden;
}
